* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #58595e;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-image: url(/img/ChatGPT\ Image\ 10\ Nis\ 2025\ 21_43_24.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ff7b7b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

#backToTop:hover {
    background-color: #333;
}


header {
    background-color: #6c707252;
}

nav {
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul img {
    width: 55px;
    height: 55px;
    border-radius: 75px;
    align-self: center;
}

nav ul li {
    position: relative;
    font-size: 21px;
}

nav ul li:hover {
    background-color: #6c707252;
    cursor: pointer;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 700px;
    height: 200px;
    border: 1px solid white;
    background-color: #2e2e2e5e;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.heart {
    display: none;
    position: absolute;
    width: 90px;
    height: 90px;
    right: -50px;
    object-fit: cover;
    z-index: 1;
    cursor: pointer;
}

.intro:hover {
    border: 1px red solid;
}

#mikp{
    width: 500px;
 }

 #mikp::after{
    content: '=>';
 }

#aa {
    position: relative;
    width: 150px;
    height: 210px;
    object-fit: cover;
    left: 90px;
}

#left {
    flex: 1;
}

/**Content*/

.content {
    min-height: 200vh;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.hand {
    position: relative;
    display: flex;
    width: 450px;
    height: 400px;
    opacity: 0;
}

.hand-left {
    transform: rotate(15deg);
}


.hand-left2 {
    position: relative;
    transform: rotate(15deg);
}

.hand-right {
    transform: rotate(-15deg);
}

.hand-right2 {
    position: relative;
    left: -200px;
    top: 200px;
    transform: rotate(-15deg);
}

#nekotext {
    position: absolute;
    top: 343px;
    right: 300px;
    font-size: 69px;
    max-width: 500px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 0 5px 30px rgb(255, 255, 255);
}

.PixelSoial {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1800px;
}


.social-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 800px;
    height: 400px;
    top: -50px;
    font-size: 18px;
    text-align: center;
    padding: 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.social-right p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.social-right ul {
    list-style: none;
    padding: 0;
}

.social-right ul li {
    margin: 5px;
}

.social-right ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #a5a5a5;
    font-size: 22px;
    padding: 10px;
    transition: color 0.3s ease;
}

.social-right ul li a:hover {
    color: #00c3ff;
    /* Hover rengi */
}

.social-right ul li a i {
    margin-right: 10px;
    font-size: 30px;
    color: #ffee00;
}

.dcs {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    background-color: #000000a9;
    color: rgb(255, 255, 255);
}

#pixel {
    width: 800px;
    height: 400px;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -50px;
    font-size: 22px;
    padding: 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#pixel img {
    align-self: flex-end;
    width: 164px;
    height: 164px;
}

#mark {
    position: absolute;
    display: flex;
    justify-content: start;
    top: 100px;
    width: 400px;
    height: 400px;
    transform: rotate(15deg);
}


#strive {
    width: 1200px;
    top: -50px;
    height: auto;
    background-color: #33333300;
}

#strive h3 {
    font-family: 'Courier New', Courier, monospace;
    display: inline-grid;
    width: 250px;
    left: -200px;
    font-size: 44px;
    height: 300px;
    position: relative;
    top: 180px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    cursor: pointer;
}

#strive h3:hover {
    text-shadow: 0 0 5px rgb(255, 0, 0);
    font-size: 48px;
}


#aboutme {
    width: 500px;
    justify-content: start;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -50px;
    height: auto;
    font-size: 20px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#aboutme:hover {
    border: 2px solid rgb(255, 0, 0);
}

#aboutme ul li {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#aboutme ul li i {
    margin-right: 10px;
    font-size: 30px;
}

.fa-html5 {
    color: #ffa600;
}

.fa-css3 {
    color: #00c3ff;
}

.fa-js {
    color: #fbff00;
}

.fa-c {
    color: #e100ff;
}

.fa-c::after {
    content: "#";
}

.fa-node {
    color: #00ff9f;
}

/**Content*/

/*? Services */

.section-blur {
    background: url('/img/bg-smooth.jpg') center/cover no-repeat;
    backdrop-filter: blur(6px);
    padding: 80px 30px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    opacity: 0;
}

.section-blur h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.section-blur ul {
    list-style: none;
    padding: 0;
}

.section-blur li {
    font-size: 1.2em;
    margin: 12px 0;
    line-height: 1.6;
}

#services li {
    opacity: 0;
    transform: translateX(40px);
}

/*? Services */

/*! Motivation and Purpose*/

.motivationpurp {
    /* background-image: url(/img/Frame\ 1\(2\).png); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(6px);
    padding: 80px 30px;
    margin-top: 80px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;
}

.motivationpurp h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.motivationpurp aside {
    width: 800px;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: start;
    margin: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
}

.motivationpurp h3 {
    font-size: 30px;
    font-weight: 550;
}

.motivationpurp p {
    font-size: 21px;
    margin-left: 60px;
    margin-top: 10px;
}

#altimg {
    position: absolute;
}

/*! Motivation and Purpose*/

/**! Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1e;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

footer p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

footer a {
    color: #00ff9f;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
}

#social2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 200px;
    font-size: 18px;
    padding: 30px;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#social2 p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

#social2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#social2 ul li {
    margin: 10px;
}

#social2 ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #4c00ff;
    font-size: 18px;
    transition: color 0.3s ease;
}

#social2 ul li a:hover {
    color: #ffffff;
    /* Hover rengi */
}


/**! Footer */

#aniline {
    top: -100px;
}

@media (max-width: 1024px) {
    main {
        padding: 100px 20px;
    }

    .intro {
        flex-direction: column;
        width: 90%;
        height: auto;
        text-align: center;
    }

    #mikp{
       width: 250px;
    }
    #mikp::after{
        content: '↓';
        font-size: 22px;
    }
    #aa {
        position: static;
        margin-top: 20px;
        align-self: center;
    }

    .PixelSoial {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #pixel,
    .social-right {
        width: 70%;
        height: 300px;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
    }

    #pixel {
        left: -200px;
    }

    #social p {
        width: 220px;
        font-size: 20px;
        margin: 0; 
         margin-top: 10px;
        font-weight: bold;  
    }

    #social ul {
        height: 170px;
    
    }

    #social ul li {
        height: 28px;
        margin: 10px;
    }

    #social ul li a {
        font-size: 14;
    }

    #social ul li a i {
        font-size: 20px;
    }

    #social img {
  margin-top:20px ;
    }

    #pixel p {
        top: 20px;
        width: 220px;
        font-weight: bold;
    }

    #reimu {
        display: none;
    }

    #mark {
        display: none;
    }

    #cont {
        justify-content: center;
        flex-direction: column;
    }

    #strive {
        display: flex;
        width: 100%;
        height: auto;
    }

    #strive h3 {
        width: 100%;
        height: 120px;
        font-size: 23px;
        top: 10px;
    }

    #strive h3:hover {
        font-size: 23px;
    }

    .hand-right {
        left: -200px;
        height: 300px;
    }

    #aniline4 {
        top: 65px;
    }

    #aboutme {
        width: 80%;
        left: -35px;
        height: 450px;
        font-size: 15px;
    }

    #aboutme p {
        position: relative;
        left: -10px;
        width: 200px;
        font-size: 14px;
        font-weight: bold;
    }

    #skyneko {
        display: none;
    }

    .motivationpurp aside {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .motivationpurp p {
        margin-left: 0;
    }

    #social2 {
        width: 90%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul img {
        margin: 10px 0;
    }
}

@media (max-width: 600px) {

    .section-blur h2,
    .motivationpurp h1 {
        font-size: 1.5em;
    }

    .motivationpurp h3 {
        font-size: 22px;
    }

    .motivationpurp p {
        font-size: 18px;
    }

    #neko {
        width: 510px;
        height: 500px;
        left: -910px;
        top: 50px;
    }

    #nekotext {
        font-size: 33px;
        right: 40px;
        top: 50px;
        text-shadow: 0 3px 15px rgb(255, 255, 255);
    }

    #pixel img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        align-self: center;
    }

    .heart {

        left: 120px;
    }
}
